* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  background-size: cover;
  font-family: Avernir, sans-serif;
  color: white;
}

body {
  font-size: 14px;
}

a {
  cursor: pointer;
}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
